{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}



<p>Backend in Flask and SQLAlchemy, frontend in Bootstrap CSS/HTML, CI/CD pipeline between Github and Docker using Github Actions, running in production with AWS Elastic Beanstalk.</p>
<p>One section of this website is a blogging app with full CRUD capabilities and account management. All posts can be seen without an account, but an account must be made to post. User must be logged in with the correct account to delete corresponding posts. Lastly, the account and all associated posts can be deleted with the press of a button in the user's profile. Inspired by <a href="https://www.youtube.com/watch?v=3mwFC4SHY-Y">this</a> Youtube how-to and <a href="https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login">this</a> tutorial. Please see the source code link below for a GIF demonstrating this functionality.</p>
<p>The other section of the website (Pokémon-Horoscope Fun!) arose from an idea to chain public APIs (<a href="https://aztro.sameerkumar.website">aztro API</a> and <a href="https://pokeapi.co">PokéAPI</a>) in a custom class and store the information together in an object.</p>
<p>Source code, with demo GIF and code overview, available <a href="https://github.com/pvsaz/portfolio">here</a>.</p>
{% endblock %}